<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="view-disciplina" id="div-disciplinas">

    <!-- navegação -->
    <div id="navegacao-disciplina">
        <span id="curso" class="dadosTabela" th:text="'Curso:'"></span>
        <select id="todos-cursos" onchange="mudaCurso(this.value)">
            <option th:each="c : ${cursos}" th:value="${c.id}" th:text="${c.sigla}" th:selected="${c.id == periodo.curso.id}"></option>
        </select>
        <span id="periodo" class="dadosTabela" th:text="'Período:'" ></span>
        <select id="todos-periodos" onchange="mudaPeriodo(this.value)">
            <option th:each="i,I : ${subPeriodos}" th:value="${i.id}" th:text="${i.nPeriodo}" th:selected="${i.id == periodo.id}"></option>
        </select>
    </div>
    <!-- horario -->
    <div class="container-disciplinas" id="tabela-dinamica">
        <div class="container">
            <th:block th:each="y,Y : ${horarios}">
                <div class="row">
                    <div class="mt-4 mb-3 ml-4 mr-4 pt-2 pl-2 horario">
                        <span class="span-center" th:text="(7 + ${y}) + ':00 - ' + (8 + ${y} + ':00')"></span>
                    </div>
                    <div th:each="x,X : ${diasDaSemana}" th:id="'divx'+${X.index}+'y'+${Y.index}" class="mb-3 espaco-disciplina" ondrop="drop(this)" ondragover="allowDrop()" ondblclick="dblclickDisicplina(this)">
                        <div class="disciplina" th:id="'x'+${X.index}+'y'+${Y.index}" draggable="true" ondragstart="drag(this)">
                            <span class="text" th:id="'spnx' + ${X.index} + 'y' + ${Y.index}"></span>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <script th:inline="javascript" id="codigo">
        /*<![CDATA[*/
        periodo = /*[[${periodo}]]*/ {};
        profs = {
            arq: /*[[${prof_ARC}]]*/ [],
            fc: /*[[${prof_FC}]]*/ [],
            ensiso: /*[[${prof_ENSISO}]]*/ [],
            todos: /*[[${prof}]]*/[]
        };
        /*]]>*/
    </script>
</div>
</html>